services:
  artifact-server:
    environment:
      - ARTIFACT_SERVER_S3_ACCESS_KEY_ID_FILE=/run/secrets/artifact-server-s3-access-key-id
      - ARTIFACT_SERVER_S3_SECRET_ACCESS_KEY_FILE=/run/secrets/artifact-server-s3-secret-access-key
    secrets:
      - artifact-server-s3-access-key-id
      - artifact-server-s3-secret-access-key

secrets:
  artifact-server-s3-access-key-id:
    file: ${ARTIFACT_SERVER_S3_ACCESS_KEY_ID_SECRET_FILE:?Set ARTIFACT_SERVER_S3_ACCESS_KEY_ID_SECRET_FILE}
  artifact-server-s3-secret-access-key:
    file: ${ARTIFACT_SERVER_S3_SECRET_ACCESS_KEY_SECRET_FILE:?Set ARTIFACT_SERVER_S3_SECRET_ACCESS_KEY_SECRET_FILE}
